.client-todo-ctn {
    border-radius: 1rem;
    padding: 1rem;

    .todo-id {
    }
}

.input-bold-content {
    font-weight: bold;
    color: white;
}

.input-bold-content::placeholder {
    font-weight: bold;
    color: white;
}
